# Byte-compiled files
*.py[cod]
__pycache__/
*.pyo

# Virtual environments
venv/
env/

# Distribution/packaging
build/
dist/
*.egg-info/
.eggs/

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test and coverage reports
htmlcov/
.tox/
.nox/
.coverage
*.cover
coverage.xml
*.cov
.cache

# Pytest cache
.pytest_cache/

# MyPy cache
.mypy_cache/
.dmypy.json
dmypy.json

# Pylint reports
.pylint.d/

# PyCharm IDE files
.idea/

# VSCode settings
.vscode/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# macOS system files
.DS_Store

# Windows system files
Thumbs.db
Desktop.ini

# 
